body {

}

#myVideo {
    position: fixed;
    right: 0;
    left: 50%;
	top: 50%;
	bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	transform: translateX(-50%) translateY(-50%);
}

.kanna {
		position:absolute;
		top: 10px;
		left: 50vw;
		transform: translateX(-50%);
		z-index: 2;
		width: 1000px;
        height: auto;
		
	}
	
.coleus {
	position: absolute;
	font-size: 70px; 
    top: 480px;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 2;
	color: white;
	font-family: dense;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.steam { 
	position: absolute;
	font-size: 18px; 
    top: -8px;
	left: 1.5vw;
	transform: translateX(-50%);
	z-index: 2;
	color: black;
	
	
}

.gif {
	position: fixed;
	width: 300px;
        height: auto;
    top: 200px;
	left: 50vw;
	transform: translateX(-50%);
	}
	
.imagelol {
	position:absolute;
		top: 50px;
		left: 50vw;
		transform: translateX(-50%);
		z-index: 2;
		width: 600px;
        height: auto;
}
.imagelol2 {
	position:absolute;
		top: 650px;
		left: 50vw;
		transform: translateX(-50%);
		z-index: 2;
		width: 600px;
        height: auto;
		
	  
}

.expic {
	position:absolute;
		top: 1300px;
		left: 50vw;
		transform: translateX(-50%);
		z-index: 2;
		width: 600px;
        height: auto;
		
	  
}

.kaften {
	
	font-size: 55px;
	
	}
	
.shop {
	position: fixed;
	font-size: 45px; 
    top: 200px;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 2;
	color: black;
	font-family: Lucida Console
	}
	.social {
	position: fixed;
	font-size: 45px; 
    top: 220px;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 2;
	color: black;
	font-family: Lucida Console
	}
	.discord {
	position: fixed;
	font-size: 45px; 
    top: 240px;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 2;
	color: black;
	font-family: Lucida Console
	}


    .about
   {
	position: fixed;
	font-size: 33px; 
    top: 440px;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 2;
	color: black;
	font-family: Lucida Console
	   
   }
h2 {
  position: absolute;
}


}

.cloc {
color: black;
left: 20vw;
font-family: Lucida Console
	}


a.link:link
{
   color: black;
   text-decoration: none;
}
a.link:visited
{
   color: black;
   text-decoration: none;
}
a.link:hover
{
   color: red;
   text-decoration: none;
}
a.link:active
{
   color: black;
   text-decoration: none;
   }
   
   
   
   
   
   


a.shh2:visited
{
   color: white;
   text-decoration: none;
}
a.shh2:hover
{
   color: white;
   text-decoration: none;
}
a.shh2:active
{
   color: white;
   text-decoration: none;
   }
   
   a.shh2:link
{
   color: white;
   text-decoration: none;
}





